<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="display">
      <app-display-chart [dataSource]="weatherData"></app-display-chart>
      <app-tabular-form [dataSource]="weatherData"></app-tabular-form>
    </div>
    <br />
    <div class="control">
      <input
        type="date"
        name="begin"
        placeholder="yyyy-mm-dd"
        [(ngModel)]="startDateString"
        min="1997-01-01"
        [max]="today"
      />
      <button type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </body>
</html>
